.App {
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.song-list {
  margin-top: 50px;
  
  
}

.song-header {
  color: rgb(216, 28, 103);
}

.song-row__item {
  color: rgb(15, 18, 39) !important;
}

.button {
  padding: 10px;
  background-color: rgb(234, 255, 0);
  color:rgb(3, 3, 3);
  border-radius: 30px;
}